<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laojiang.androidlearn70">
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <!--<uses-permission android:name="android.permission.INTERNET"></uses-permission>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>-->
    <application
        android:resizeableActivity="true"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:supportsPictureInPicture="true"
            android:label="安卓技术架构"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--//多选相册-->
        <activity
            android:name="cc.dagger.photopicker.MultiImageSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NO_ACTIONBAR" />

        <activity
            android:name="cc.dagger.photopicker.PhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NO_ACTIONBAR"/>


        <activity android:name=".activity.FruitActivity"
            android:supportsPictureInPicture="true"
            android:theme="@style/FruitActivityTheme"></activity>
        <!--点击通知栏消息 然后按返回键是回到主屏幕还是回到应用界面 取决于 android:taskAffinity=""，如果有就是单独任务 返回直接到主屏幕。-->
        <activity android:name=".activity.PendingIntentActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">


        </activity>
        <!--安卓7.0uri 内容提供者包装uri-->
        <provider

            android:authorities="com.android"

            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <activity android:name=".activity.intent.PriseActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.intent.DragListViewActivity"></activity>
        <activity android:name=".activity.intent.TestBindServiceActivity"></activity>

        <service android:name=".server.TestBindService"></service>
        <activity android:name=".activity.intent.PhotoPickerActivity"></activity>
        <activity android:name=".activity.intent.PhotosSelectActivity"></activity>
        <activity android:name=".activity.intent.PhotosTest2Activity"></activity>
        <activity android:name=".activity.intent.ViewAnimationActivity"></activity>
        <activity android:name=".activity.intent.AnimationActivity"></activity>
        <activity android:name=".activity.intent.LitePalActivity"></activity>
        <activity android:name=".activity.intent.LottieActivity"></activity>
        <activity android:name=".activity.intent.MyRetrofitActivity"></activity>
        <activity android:name=".activity.intent.retrofit.MyDownFilesActivity"></activity>
        <activity android:name=".activity.intent.pickerimag.PickerImagerActivity"></activity>
    </application>

</manifest>